.image {
  background-image: url('https://cdn.britannica.com/51/190751-050-147B93F7/soccer-ball-goal.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
}